.circle {
    background-color:#FFFFFF;
    width:15px;
    height:15px;
    border-radius:75px;
}

p{
    position:"absolute";
    bottom:"15px";
    right:"10px";
    color:"#000066";
    font-size: "15px";
} 