/* .dashBoard {
    width: 100vw;
  padding: 10px;
} */

.chartStyle {
    margin-left : 100px;
    margin-right : 100px;
    padding: 0;
    display: 'webkit-box';
    display: 'moz-box';
    display: 'ms-flexbox';
    display: 'moz-flex';
    display: 'webkit-flex';
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family : 'hyundai harmony L';
}

.tableStyle {
    /* margin-left : 100px;
    margin-right : 100px; */
    padding: 0;
    display: 'webkit-box';
    display: 'moz-box';
    display: 'ms-flexbox';
    display: 'moz-flex';
    display: 'webkit-flex';
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family : 'hyundai harmony L';
}

h2{
    text-align: center;
}

.tableName{
    text-align: left;
}
