.tableRoot {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  max-height: 440;
  max-width: 70%;
}

.tableHeader {
  background-color: 'linear-gradient(45deg, #2196f3 30%, #21cbf3 90%)';
  box-shadow: '0 3px 5px 2px rgba(33, 203, 243, .30)';
}