.tableRoot {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  max-height: 440;
  max-width: 80vw;
  padding: 20px;
}

.tableHead {
  background-color: #006;
}

.tableHeadFont {
  text-decoration-color: white;
  color: #fff;
}

.tableCellMargin {
  column-width: 6;
}