.login-form {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: auto;
  height: 100%;
}

.register-form {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: auto;
  height: 100%;
}

.logo {
  width:80%;
  margin-top:50px;
  margin-bottom:30px; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hmg {
  padding: 20px;
  width: 120px;
  float: right;
}

.toLogIn {
  margin-left: 3px;
  display: inline;
  font-size: small;
}

.toLogIn1 {
  display: inline;
  font-size: small;
  font-weight: bold;
}
.toLogIn2 {
  margin-left: 12px;
  display: inline;
}



